@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    background-color:rgb(215, 190, 29);
}

nav a:link, nav a:visited {
    text-decoration: none;
    color:white;
}

nav a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px black; 
}

nav a:active {
    text-decoration: none;
    color:black;
    text-shadow: 1px 1px 2px white;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}